@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #121212;
    color: #ffffff;
}

/* // */

/* * Main Content Div * */

.shell {
    margin-left: 40px;
    padding: 20px;
    width: calc(100% - 40px);
}

/* // */

.hidden {
    display: none;
}

/* // */

/* * Footer * */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}
footer a:hover {
    text-decoration: none;
}

/* Styling for the tag list */
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding: 0;
    list-style-type: none;
}

.tag-list li {
    background-color: #f7c948;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tag-list li button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
}

.tag-list li button:hover {
    color: #e68900;
}